body {
font-family: Arial;
margin: 0;
background-color: #f4f6f8;
}

/* Header */
header {
background-color: #2563eb;
color: white;
padding: 20px;
text-align: center;
}

/* Navigation */
nav {
background-color: white;
padding: 15px;
text-align: center;
}

nav a {
text-decoration: none;
color: #2563eb;
margin: 20px;
font-size: 18px;
}

/* Homepage */
.home {
text-align: center;
padding: 60px;
}

.home h2 {
font-size: 32px;
}

.search {
padding: 12px;
width: 350px;
border: 1px solid #ccc;
border-radius: 5px;
}

/* Buttons */
button {
padding: 12px 25px;
background-color: #2563eb;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #1d4ed8;
}

/* Courses */
.courses {
display: flex;
justify-content: center;
gap: 25px;
padding: 30px;
flex-wrap: wrap;
}

/* Course Cards */
.card {
background-color: white;
padding: 25px;
width: 250px;
text-align: center;
border-radius: 8px;
box-shadow: 0 2px 8px #ccc;
}

.card h3 {
color: #2563eb;
font-size: 22px;
}

.card p {
color: #555;
line-height: 1.5;
}

/* Course Page Heading */
.heading {
text-align: center;
padding: 30px 20px 10px;
}

.heading h2 {
font-size: 32px;
}

.heading p {
color: #555;
font-size: 18px;
}

/* Footer */
footer {
background-color: #222;
color: white;
text-align: center;
padding: 15px;
margin-top: 30px;
}